@tailwind base;
@tailwind components;
@tailwind utilities;

.explore {
    background-image: linear-gradient(#010101d3, #171717d6), url('./assets/Images/exploreImg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #0f0d31; */
}

@keyframes gradientBackground {
    0% {
        background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    }

    50% {
        background: linear-gradient(90deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 100%);
    }

    100% {
        background: linear-gradient(90)
    }
}

.active-menu-item {
    color: #1d4ed8;
    /* Tailwind's blue-500 */
    font-weight: 600;
}

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* TailwindCSS configuration for responsive grid layout */
@media (min-width: 640px) {

    /* sm */
    .swiper-slide {
        /* Adjust as needed */
        max-width: calc(100% / 2 - 1rem);
        /* 2 columns */
    }
}

@media (min-width: 1024px) {

    /* lg */
    .swiper-slide {
        /* Adjust as needed */
        max-width: calc(100% / 3 - 1rem);
        /* 3 columns */
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.animate-shimmer {
    animation: shimmer 1.5s infinite;
}

.overlock-regular {
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.overlock-bold {
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.overlock-black {
    font-family: "Overlock", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.overlock-regular-italic {
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.overlock-bold-italic {
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.overlock-black-italic {
    font-family: "Overlock", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.lora-400 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.lora-700 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}

.lora-900 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
}